main > .e > b,
main > .js > b,
main > .m > b,
main > .p > b,
main > .tts > b {
  color: #de4dc6 !important;
}

* {
  box-sizing: content-box;
}

html {
  background: transparent;
  font-family: sans-serif;
  scroll-behavior: smooth;
}

img {
  max-height: 100vh;
  max-width: 100%;
  vertical-align: middle;
}

main > .v p {
  display: inline-block;
}

main > div {
  margin: 4px 0;
}

main > div > b {
  color: #3992d6;
}

main > div > img:first-child {
  width: 16px;
}

main a {
  color: white;
}

