.main,
.main a {
  color: #eceff4;
}

.main {
  background: #2e3440;
  font: bold 18px/22px sans-serif;
  min-height: 100vh;
}

.main > .panel {
  backdrop-filter: blur(30px);
  border-bottom: 2px solid #4c566a;
  box-shadow: 0 0 5px rgba(0, 0, 0, .5);
  display: flex;
  font: 14px/1 sans-serif;
  justify-content: center;
  left: 0;
  padding: 7px 0;
  position: fixed;
  text-shadow: 0 1px 3px #2e3440;
  top: 0;
  width: 100%;
}

.main > .panel > div {
  align-self: center;
  padding: 0 5px;
}

.main > .panel > div > i.active {
  cursor: pointer;
}

.main > .panel > div > i:not(.active) {
  color: rgba(255, 255, 255, .4);
  text-shadow: none;
}

.main > .panel > div > img {
  width: 16px;
}

.main > main {
  padding-top: 36px;
}

.main > main > .name {
  background-color: #4c566a;
  border-radius: 4px;
  margin-top: 4px;
}

.main > main > div {
  padding-left: 10px;
  padding-right: 10px;
}

.main > main > div > b {
  font-weight: bold;
  text-shadow: 0 1px 3px rgba(0, 0, 0, .5);
}

@media (min-width: 300px) {
  .main {
    font: normal 14px/18px sans-serif;
  }

  .main > .wrapper {
    margin-left: auto;
    margin-right: auto;
    max-width: 940px;
  }
}

