.main,
.main a {
  color: var(--storm3);
}

.main {
  background: var(--night0);
  font-size: 14px;
  min-height: 100vh;
}

.main > .panel {
  backdrop-filter: blur(30px);
  border-bottom: 5px solid var(--night4);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  display: flex;
  gap: 10px;
  justify-content: center;
  left: 0;
  padding: 10px 0;
  position: fixed;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.7);
  top: 0;
  width: 100%;
}

.main > .panel > * {
  align-self: center;
}

.main > .panel > i {
  cursor: pointer;
}

.main > .panel > i:not(.active) {
  opacity: 0.5;
}

.main > .panel > img {
  width: 16px;
}

.main > .wrapper {
  border-bottom: 4px solid var(--night0);
  line-height: 1.4;
}

.main > main {
  padding-top: 60px;
}

.main > main > .name {
  background-color: var(--night4);
  border: 2px solid var(--night4);
  padding-bottom: 2px;
  padding-top: 2px;
}

.main > main > .alert {
  border-color: var(--aurora5);
}

.main > main > div {
  border-radius: 4px;
  border: 2px solid var(--night0);
  padding-left: 10px;
  padding-right: 10px;
  transition: border-color 200ms;
}

.main > main > div > b {
  font-weight: bold;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
}

@media (min-width: 300px) {
  .main > .wrapper {
    margin-left: auto;
    margin-right: auto;
    max-width: 940px;
  }
}

