:root {
  --aurora1: #bf616a;
  --aurora2: #d08770;
  --aurora3: #ebcb8b;
  --aurora4: #a3be8c;
  --aurora5: #b48ead;
  --frost1: #8fbcbb;
  --frost2: #88c0d0;
  --frost3: #81a1c1;
  --frost4: #5e81ac;
  --night0: #252a33;
  --night1: #2e3440;
  --night2: #3b4252;
  --night3: #434c5e;
  --night4: #4c566a;
  --storm1: #d8dee9;
  --storm2: #e5e9f0;
  --storm3: #eceff4;
}
