main > .e > b,
main > .js > b,
main > .m > b,
main > .p > b,
main > .tts > b {
  color: #de4dc6 !important;
}

html {
  background: transparent;
  scroll-behavior: smooth;
}

img {
  max-height: calc(100vh - 4px);
  max-width: 100%;
  vertical-align: middle;
}

main > .v p {
  display: inline-block;
}

main > div {
  overflow: hidden;
  padding-bottom: 2px;
  padding-top: 2px;
}

main > div > b {
  color: #3992d6;
}

main > div > img:first-child {
  width: 16px;
}

main a {
  color: white;
}

